.body {
    font-family: Arial, Helvetica, sans-serif;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
  }
  
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }

.container {
    margin: 0 auto;
    width: 1000px;
}

.header {
    height: 200px;
    padding: 10px;
}

.face-image img {
    float: right;
    height: 200px;
    padding: 0px 10px 0px 0px;
    border-radius: 50%;
    /*padding: 20px; - this does work */
}

.site-title {
    font-size: 55px;
    padding: 50px 20px 0px 20px; /* except on the bottom */
}

.navigation-bar ul {
    list-style: none;
    padding: 0; /* To remove indent from bullet point */
}

.navigation-bar li {
    float: left;
}

.navigation-bar li a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 30px;
}

.navigation-bar li a:hover {
    color: black;
    text-decoration: underline;
}

.main-content {
    background-color: white;
    color: black;
}

.article-title {
    font-size: 35px;
    padding: 10px;
}

.article-metadata {
    font-size: 15px;
    padding: 0px 10px 10px 10px;
}

.article-content {
    font-size: 20px;
    padding: 10px;
    text-align: justify;
}

.article-content {
    font-size: 16px;
}

.article-content h1 {
    font-weight:normal;
}

.article-content h2 {
    font-weight:normal;
}

.article-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.footer {
    font-size: 15px;
    color: black;
    padding:20px;
    text-align: center;
}

.weird-column {
    width: 200px;
    float: right;
    margin-right: 80px;
    padding: 30px 10px 10px 10px;
}

.weird-column ul {
    list-style: none;
    padding: 0; /* To remove indent from bullet point */
    margin: 0px;
}

.weird-column li {
   padding: 0px 0px 0px 5px;
}

.weird-column li a {
    text-decoration: none;
    color: black;
    padding: 5px 5px 5px 0px;
}

.weird-column li a:hover {
    text-decoration: underline;
    color: black;
}

.recent-items-section {
    padding: 0px;
    margin: 0 auto;
    display: block;
    overflow: auto;
}

.recent-items-title {
    text-align: center;
    font-size: 35px;
}

.recent-item {
    width: 230px;
    padding: 0px 10px 10px 10px;
    float: left;
    margin: 0 auto;
}

.recent-items-section ul {
    padding: 0;
}

.recent-items-section ul li {
    list-style: none;
}

.recent-items-section ul li img {
    height: 100px;
}

.recent-items-section ul li a {
    color: black;
    text-decoration: none;
}

.recent-items-section ul li a:hover {
    text-decoration: underline;
}

.recent-item-summary {
    font-size: 15px;
}

.recent-item-date {
    font-size: 15px;
    font-style: italic;
}

.cv {
    padding: 10px;
}

.cv ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    text-align: center;
  }

.cv ul li {
    list-style: none;
}

.cv h1 {
    font-size: 35px;
    font-weight: normal;
}

.cv h2 {
    font-size: 30px;
    font-weight: normal;
    display:table-cell;
}

.cv h4 {
    font-size: 15px;
    padding: 0px 10px 10px 10px;
    font-style: italic;
    font-weight: normal;
    display: contents;
}

.list-article-title {
    font-size: 35px;
    padding: 0px 0px 0px 10px;
    display: inline;
}

.list-article-title a {
    color: black;
    text-decoration: none;
    font-size: 25px;
}

.list-article-title a:hover {
    text-decoration: underline;
}

.list-article-metadata {
    padding: 0px 0px 0px 10px;
}

.list-article-summary {
    padding: 0px 0px 0px 10px;
}

.list-article-img {
    padding: 0px 0px 0px 10px;
    display: inline;
}

.images-columns{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    text-align: center;
}

.tags-content {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    text-align: center;
}