.body {
    font-family: sans-serif;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
  }
  
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }

.container {
    margin: 0 auto;
    width: 1000px;
    font-family: sans-serif;
}

.header {
    height: 200px;
    padding: 10px;
}

.face-image img {
    float: right;
    height: 200px;
    padding: 0px 10px 0px 0px;
    border-radius: 50%;
    /*padding: 20px; - this does work */
}

.site-title {
    font-size: 55px;
    padding: 50px 20px 0px 20px; /* except on the bottom */
}

.navigation-bar ul {
    list-style: none;
    padding: 0px 0px 0px 20px; /* To remove indent from bullet point */
}

.navigation-bar li {
    float: left;
}

.navigation-bar li a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 30px 0px 30px 30px;
}

.navigation-bar li a:hover {
    color: black;
    text-decoration: underline;
}

.main-content {
    background-color: white;
    color: black;
}


.article-title:after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	bottom: 0;
	width: 5px;
	border-radius: 2px;
	box-shadow: 
		inset 0 1px 1px rgba(0,0,0,0.5), 
		0 1px 1px rgba(255,255,255,0.3);
}

.article-title:after { background: #003366; }

.article-title {
    font-size: 35px;
    padding: 10px;
    line-height: 37px;
}

.article-metadata {
    font-size: 15px;
    padding: 0px 10px 10px 10px;
}

.article-metadata a {
    color: #003366;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
}

.article-metadata a:hover {
    text-decoration: underline;
}

.article-metadata a:visited {
    color: #003366;
}

.article-content {
    font-size: 20px;
    padding: 10px;
    text-align: justify;
}

.article-content {
    font-size: 16px;
}

.article-content h1 {
    font-weight:normal;
}

.article-content h2 {
    font-weight:normal;
}

.article-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.footer {
    font-size: 15px;
    color: black;
    padding:20px;
    text-align: center;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer a:visited {
    color: black;
    text-decoration: none;
}

.weird-column {
    width: 200px;
    float: right;
    margin-right: 80px;
    padding: 30px 10px 10px 10px;
}

.weird-column ul {
    list-style: none;
    padding: 0; /* To remove indent from bullet point */
    margin: 0px;
}

.weird-column li {
   padding: 0px 0px 0px 5px;
}

.weird-column li a {
    text-decoration: none;
    color: black;
    padding: 5px 5px 5px 0px;
}

.weird-column li a:hover {
    text-decoration: underline;
    color: black;
}

.table-of-contents {
    width: 250px;
    float: right;
    /*margin-right: 80px;*/
    padding: 9px 10px 10px 10px;
}

.table-of-contents ul {
    list-style: none;
    padding: 0; /* To remove indent from bullet point */
    margin: 0px;
}

.table-of-contents .toc-title {
    font-size:25px;
}

.table-of-contents li {
   padding: 0px 0px 0px 5px;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #003366;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

.table-of-contents li a {
    text-decoration: none;
    color: black;
    padding: 5px 5px 5px 0px;
}

.table-of-contents li a:hover {
    text-decoration: underline;
    color: black;
}

.recent-items-section {
    padding: 0px;
    margin: 0 auto;
    display: block;
    overflow: auto;
}

.recent-items-title {
    text-align: center;
    font-size: 35px;
}

.recent-item {
    width: 230px;
    padding: 0px 10px 10px 10px;
    float: left;
    margin: 0 auto;
}

.recent-items-section ul {
    padding: 0;
}

.recent-items-section ul li {
    list-style: none;
}

.recent-items-section ul li img {
    height: 100px;
}

.recent-items-section ul li a {
    color: black;
    text-decoration: none;
}

.recent-items-section ul li a:hover {
    text-decoration: underline;
}

.recent-item-summary {
    font-size: 15px;
}

.recent-item-date {
    font-size: 15px;
    font-style: italic;
}

.cv {
    padding: 10px;
}

.cv ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    text-align: center;
  }

.cv ul li {
    list-style: none;
}

/*.cv h1 {
    font-size: 35px;
    font-weight: normal;
}*/

.cv h1:after,
.cv h2:after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	bottom: 0;
	width: 5px;
	border-radius: 2px;
	box-shadow: 
		inset 0 1px 1px rgba(0,0,0,0.5), 
		0 1px 1px rgba(255,255,255,0.3);
}

.cv h1:after { background: #003366; }
.cv h2:after { background: #003366; }

.cv h1 {
    margin: 1em 0 .6em 0;
	padding: 0 0 0 20px;
	font-weight: normal;
	color: black;
	/*font-family: 'Hammersmith One', sans-serif;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);*/
	position: relative;
	font-size: 35px;
	line-height: 37px;
	/*font-family: 'Questrial', sans-serif;*/
}

.cv h2 {
    margin: 1em 0 .6em 0;
	padding: 0 0 0 20px;
    font-weight: normal;
    color: black;
    position: relative;
    font-size: 30px;
    line-height: 37px;
}

.cv h4 {
    font-size: 15px;
    padding: 0px 10px 10px 10px;
    font-style: italic;
    font-weight: normal;
    display: contents;
}

.cv .job-name:after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	bottom: 0;
	width: 5px;
	border-radius: 2px;
	box-shadow: 
		inset 0 1px 1px rgba(0,0,0,0.5), 
		0 1px 1px rgba(255,255,255,0.3);
}

.cv .job-name:after { background: #003366; }

.cv .job-name {
    margin: 1em 0 .6em 0; /*1e 0 .6em 0;*/
	padding: 5px 0 0 20px;
    font-weight: normal;
    color: black;
    position: relative;
    font-size: 30px;
    line-height: 30px;
}
.cv .job-duration {
    margin: 0 0 0 0;
	padding: 0 0 0 0;
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
    color: black;
    position: relative;
    /*display: contents;  contents */
}

.list-article-title {
    font-size: 35px;
    padding: 0px 0px 0px 10px;
    display: inline;
}

.list-article-title a {
    color: black;
    text-decoration: none;
    font-size: 25px;
}

.list-article-title a:hover {
    text-decoration: underline;
}

.list-article-metadata {
    padding: 0px 0px 0px 10px;
}

.list-article-summary {
    padding: 0px 0px 0px 10px;
}

.list-article-img {
    padding: 0px 0px 0px 10px;
    display: inline;
}

.images-columns{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    text-align: center;
}

.tags-content {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    text-align: center;
    font-size: 15px;
}

.tags-content a {
    text-decoration: none;
    color: #003366;
}

.tags-content a:hover {
    text-decoration: underline;
}

.status-box {
    color: white;
    width: 100%;
    height: 20px;
    display: inline;
    font-size:25px;
    /*border-radius: 10px;*/
    padding: 0px 5px 0px 5px;
}

.status-box.draft {
    background-color: #003366;
}

.status-box.published {
    background-color: green;
}

.demo-3 .main h4 { 
	margin: 1em 0 .6em 0;
	padding: 0 0 0 20px;
	font-weight: normal;
	color: white;
	font-family: 'Hammersmith One', sans-serif;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	position: relative;
	font-size: 18px;
	line-height: 20px;
	font-family: 'Questrial', sans-serif;
}