/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	margin-top: 10px;
	height: 280px;
	background: RGBA(50, 140, 193, 0.5);
	padding: 10px;
	overflow: hidden;
	border-radius: 20px 20px 0px 0px;
	color: white;
}

.header hr {
	margin: 10px 0 0 15px;
  height: 5px;
  border-color: RGBA(219, 147, 16, 1);
  color:RGBA(219, 147, 16, 1);
  background-color:RGBA(219, 147, 16, 1);
  border-radius: 10px;
}

.header a {
	color: RGBA(219, 147, 16, 1);
	text-decoration: none;
}

.header a:hover {
	text-decoration: underline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 15px;
}

th, td {
  text-align: left;
  padding: 2px;
}

.recentitemssection {
	padding:10px;
	
}
.recentitemscolumn {
  float: left;
  padding: 5px;
  width: 130px;
}

.header .face-image {
	float: right;
	border-radius: 10px;
	border-radius: 200px 200px 200px 200px;
	padding: 10px;
}

.header .title {
	font-size: 50px;
	padding: 20px;
	color: white;
}

.header .nav-link {
	font-size: 20px;
	padding: 2px;
	margin-left: 15px;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	position: relative;
	background: rgb(11,60,93, 0.9); /* prussian blue */
	padding-bottom:20px;
	color: white;
}

.middle a{
	color: RGBA(219, 147, 16, 1);
	text-decoration: none;
}

.middle a:hover {
	text-decoration: underline;
}

.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;

}
.content {
	padding: 30px 290px 0 30px;
}

.content h2 {
	font-size: 20px;
	padding: 10px 0 10px 0;
}

.content ul {
  list-style-type: circle;
  padding: 10px 0 0 20px;
}

.content .title {
	font-size: 25px;
	padding-bottom: 10px;
}

.content .post-metadata {
	font-style: italic;
	padding-bottom: 20px;
}


/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	float: left;
	width: 290px;
	margin-left: -290px;
	position: relative;
	background: RGBA(219, 147, 16, 0.5);
	border-radius: 0 0 0 20px;
}

.right-column-text {
	padding: 10px 20px 20px 20px;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 20px;
	background: RGBA(29, 39, 49, 1); /* Blue charcoal */
	padding: 20px;
	text-align: center;
	border-radius: 0 0 20px 20px;
	color: white;
}

.footer a{
	color: RGBA(219, 147, 16, 1);
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

img {
	max-width:450px;
}
.column {
  float: left;
  width: 33.33%;
}

html {
 background: white; 
  font-family: arial;
}

.nav {
	font-size: 25px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.list {
	
	
}

.list .list-title {
	font-size: 25px;
	padding-bottom: 10px;
}
