{{ define "main" }}
<div class="main-content">
	
	<div class="article-title">{{ .Title }}</div><br />
						{{ range .Pages.ByPublishDate.Reverse }}
						<!-- Posts -->
						{{ if eq .Params.type "post" }}
							<div class="list-article-title"><a class="title" href="{{ .Permalink }}">{{ .Title }}</a></div><br />
							<div class="list-article-summary">{{ replace .Summary "<p></p>" "" | safeHTML }}</div>
							<div class="article-metadata">{{ partial "metadata.html" . }}</div>
						{{ end }}
						
						<!-- Links -->
						{{ if eq .Params.type "link" }}
						<div class="list-article-title"><a class="title" href="{{ .Params.link }}">{{ .Title }}</a></div>
						<div class="list-article-summary">{{ .Summary }}</div>
						{{ end }}
						
						<!-- Photos -->
						{{ if eq .Params.type "photo" }}
						
						<div class="list-article-title"><a class="title" href="{{ .Permalink }}">{{ .Title }}</a></div><br />
							<div class="list-article-summary">{{ .Summary }}</div>
							<!-- <a class="title" href="{{ .Permalink }}"></div></a> -->
							<div class="list-article-img"><img src="/images/thumbnails/{{ .Params.photo }}"></div>
						{{ end }}
						<br />
						{{ end }}
						<div class="recent-items-section">
							<div class="recent-items-title">
								Recent Items
							</div>
					
							{{ $related := .Site.RegularPages | first 4 }}
							{{ range $related }}
							<div class="recent-item">
								<ul>
									<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
									{{ if eq .Params.type "photo" }}
									<li><a href="{{ .RelPermalink }}"><img src="/images/thumbnails/{{ .Params.photo }}" alt="{{ .Summary }}"></a></li>
									{{ end }}
									<li><div class="recent-item-summary">{{ .Summary }}</div></li>
									<li><div class="recent-item-date">{{ .PublishDate.Format "Mon, 02 Jan 2006 15:04:05" }}</div></li>
								</ul>
							</div>
							{{ end }}
					
					
					
					
						<!--{{ range first 3 ( where .Site.RegularPages "Type" "photo" ) }}
					
						<div class="recent-item">
							<ul>
								<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
								{{ if eq .Params.type "photo" }}
								<li><a href=""><img src="/images/thumbnails/{{ .Params.photo }}" alt="{{ .Summary }}"></a></li>
								{{ end }}
								<li>{{ .Summary }}</li>
							</ul>
						</div>
					
						
						{{ end }} -->
					</div>
</div>		
{{ end }}