{{ define "main" }}

<div class="row">
	<div class="col-12 cv-content-style">
		<h1>{{ .Title }}</h1>
		{{ if in (string .Site.BaseURL) "localhost" }}
		{{if .Params.draft }}
		Draft
		{{ else }}
		Published
		{{ end }}
		{{ end }}
	</div>
</div>

<div class="row">
	<div class="col-12 cv-content-style">
		<div class="article-metadata">
			{{ partial "metadata.html" . }}
		</div>
<br />
		{{- partial "sidebar.html" . -}}{{ .Content }}

		{{ if and (isset .Params "photo") .Params.photo }}
			{{ $image := .Page.Resources.GetMatch .Params.photo }}
			{{ with $image }}
				{{ $thumb := .Resize "1000x" }}
				{{ printf `<center><img src="%s" alt="%s" class="img-responsive gallery-image full-photo"></center>` $thumb.RelPermalink .Title | safeHTML }}
			{{end}}
		{{ end }}
		<br />
		{{ if eq .Params.type "photo" }}
					Camera: {{ .Params.camera }} <br />
					Resolution: {{ .Params.resolution }}<br />
					Exposure Time: {{ .Params.exposuretime }}<br />
					Focal Length: {{ .Params.focallength }}<br />
					F/stop: {{ .Params.fstop }}<br />
					ISO: {{ .Params.ISO }}<br />
				{{ end }}
	</div>
</div>
	


				<!--<div class="title">{{ .Title }}</div>
				<div class="post-metadata">{{ partial "metadata.html" . }}
				{{ if eq .Params.type "post" }}{{ .Params.author }}
				{{ end }}</div>
				{{ if eq .Params.type "photo" }}
					Camera: {{ .Params.camera }}
					Resolution: {{ .Params.resolution }}
					Exposure Time: {{ .Params.exposuretime }}
					Focal Length: {{ .Params.focallength }}
					F/stop: {{ .Params.fstop }}
					ISO: {{ .Params.ISO }}
				{{ end }}
				{{ .Content }}
			</main>-->

	<!-- {{- partial "sidebar.html" . -}} -->
	
	
{{- partial "recent-items.html" . -}}		
{{ end }}