{{ define "main" }}

	<div class="middle">
		<div class="container">
			<main class="content">
				<div class="title">{{ .Title }}</div>
				<div class="post-metadata">{{ partial "metadata.html" . }}
				{{ if eq .Params.type "post" }}{{ .Params.author }}
				{{ end }}</div>
				{{ if eq .Params.type "photo" }}
					Camera: {{ .Params.camera }}
					Resolution: {{ .Params.resolution }}
					Exposure Time: {{ .Params.exposuretime }}
					Focal Length: {{ .Params.focallength }}
					F/stop: {{ .Params.fstop }}
					ISO: {{ .Params.ISO }}
				{{ end }}
				{{ .Content }}
			</main><!-- .content -->
		</div><!-- .container-->
	{{- partial "sidebar.html" . -}}
	{{ range first 4 ( where .Site.RegularPages "Type" "photo" ) }}

	<div class="recentitemscolumn">
		<table>
		  <tr>
			<td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
		  </tr>
		  <tr>
			<td><i>{{ partial "metadata.html" . }}</i></td>
		  </tr>
		  <tr>
			<td>{{ .Summary }}</td>
		  </tr>
		  <tr>
			<td><img src="/images/thumbnails/{{ .Params.photo }}" width="125"></td>
		  </tr>
		</table>
	  </div>
	
	{{ end }}
	</div><!-- .middle-->



{{ end }}