{{ define "main" }}

<div class="row centre-row">
	<div class="col-12 cv-content-style">
		<h1>Tag: {{ .Title }}</h1>
	</div>
</div>

<div class="row centre-row">
	<div class="col-12 recent-post">
						{{ range .Pages.ByPublishDate.Reverse }}
						<!-- Posts -->
						{{ if eq .Params.type "post" }}
							<div class="list-article-title"><a class="title" href="{{ .Permalink }}">{{ .Title }}</a></div>
							<div class="list-article-summary">{{ replace .Summary "<p></p>" "" | safeHTML }}</div>
							<div class="article-metadata">{{ partial "metadata.html" . }}</div>
						{{ end }}
					
						
						<!-- Photos -->
						<div class="images-columns">
						{{ if eq .Params.type "photo" }}
						{{ $image := .Page.Resources.GetMatch .Params.photo }}
						<div class="list-article-title"><a class="title" href="{{ .Permalink }}">{{ .Title }}</div><br />
						<div class="list-article-img">
							{{ with $image }}
							{{ $thumb := .Resize "1000x webp" }}
							{{ printf `<center><img src="%s" alt="%s" class="img-responsive gallery-image full-photo"></center>` $thumb.RelPermalink .Title | safeHTML }}
						{{end}}
							</div>
						</a>
							<div class="list-article-summary"><center><i>{{ .Summary }}</i></center></div>
							<!-- <a class="title" href="{{ .Permalink }}"></div></a> -->

						
						{{ end }}
					</div>
						<br />
						{{ end }}
					</div>		
</div>		
{{- partial "recent-items.html" . -}}
{{ end }}